/*
 * General layout
 */

body { 
  margin: 0px;
  padding: 0px;
}

/*
 * General styling
 */
body { 
  font-size: 10pt;
  font-family: sans-serif;
}

h1 { 
  color: #445;
  font-size: 18pt;
}

h2 { 
  color: #445;
  font-size: 16pt;
}

h3 { 
  color: #445;
  font-size: 12pt;
  margin-bottom: 1ex;
}

h4 { 
  color: #445;
  font-size: 10pt;
}

p { 
  margin-top: 1ex;
  margin-bottom: 1ex;
  line-height: 1.2;
  text-align: justify;
}

p.first { 
  margin-top: 0;
}

p.last { 
  margin-bottom: 0;
}

pre { 
  border: solid 1px #ccc;
  background: #ffe;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1ex;
  padding-bottom: 0.1ex;
  margin: 0;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

table { 
  border: 1px solid #ccc;
  margin-top: 1ex;
  margin-bottom: 1ex;
  border-collapse: collapse;
  padding:0;
}
table tr { 
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
table th { 
  color: #445;
  font-weight: bold;
  padding-right: 1em;
  text-align: left;
}
table td { 
  border-bottom: 1px solid #ccc;
  padding-right: 0.5em;
}
ul { 
  margin-top: 1ex;
  margin-bottom: 1ex;
}
ol { 
  margin-top: 1ex;
  margin-bottom: 1ex;
}
dl { 
  margin-top: 1ex;
  margin-bottom: 1ex;
}
dl dt { 
  font-weight: bold;
}

/*
 * Header
 */
#header { 
  background: #eef;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  border-bottom: solid 2px #ccc;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0em;
}

#header h1 { 
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 12pt;
}
#header h1 a { 
  color: #445;
  text-decoration: none;
}
#header div.headertab { 
  display: block; 
  float: right;
  margin-right: 0.25em;
  margin-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #f8f8ff;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #ddd;
  border-right: solid 2px #bbb;
}
#header div.headertab a { 
  display: inline; 
  float: right;
  font-size: 10pt;
  color: #445;
  text-decoration: none;
}


/*
 * Navigation bar
 */
#navbar { 
  margin: 0;
  background: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1em;
  padding-left: 1em;
  border-bottom: solid 1px #ccc;
}
#navbar ul { 
  margin: 0px;
  padding: 0px;
}
#navbar li { 
  display: inline;
  margin: 0px;
  padding: 2px;
  margin-right: 0.5em;
}
#navbar li.button { 
}
#navbar a { 
  background: #fff;
  color:black;
  text-decoration: none;
}
#navbar a:hover { 
  background: #eef;
}

/*
 * Container
 */
#container { 
  margin: 0;
  padding: 0;
  border-left: 1px solid #ccc;
  margin-left: 1em;
  padding-left: 1em;
  padding-bottom: 2ex;
  max-width: 60em;
  float: left;
}

/*
 * Title
 */
#title { 
  padding-top: 2em;
  padding-bottom: 2em;
  color: #445;
}
#title h1 { 
  margin: 0px;
}

/*
 * Actions
 */
#actions { 
  margin: 0;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1em;
  border-left: dashed 1px #ccc;
  border-top: dashed 1px #ccc;
  border-right: dashed 1px #ccc;
}
#actions a {
  margin-right: 1em;
  color: black;
  background: #fff;
  text-decoration: none;
}
#actions a:hover { 
  background: #eef;
}

/*
 * Content
 */
#content { 
  padding-left: 0;
  margin-left: 0;
}

/*
 * Review status form
 */
#review-status { 
  margin: 0;
  padding: 1ex;
}

#review-status { 
  font-weight: bold;
  color: #445;
}

#review-status li { 
  display: inline;
}

#review-status ul { 
  display: inline;
  padding-left: 0;
}

#review-status form { 
  display: inline;
  border: none;
}
#review-status form ul { 
  border: none;
  margin:0;
  padding:0;
}
#review-status form li { 
  border: none;
}
#review-status form label { 
  width: auto;
  vertical-align: middle;
}

/*
 * Review states
 */

.unimportant   { background: #999; }
.needs-editing { background: #fff; }
.being-written { background: #ddd; }
.needs-review  { background: #faa; }
.revised       { background: #fca; }
.needs-work    { background: #ff5; }
.reviewed      { background: #bfb; }
.proofed       { background: #ccf; }

/*
 * Revision header
 */
#revision-header { 
  font-weight: bold;
  color: #445;
}

/*
 * Docstrings / wiki pages
 *
 * (The rest comes from screen.css!)
 */

#document { 
  border: dashed thin #ccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1ex;
  font-family: sans-serif;
}
#document div.document { 
  padding: 0;
  margin: 0;
}
#document h1 a:hover,
#document h2 a:hover,
#document h3 a:hover,
#document h4 a:hover,
#document h5 a:hover,
#document h6 a:hover { 
  text-decoration: none;
}
#document div.system-messages { 
  float: none;
  padding: 1em;
  margin: 0.5em;
  border: 1px dashed red;
}
#document div.system-message { 
  font-size: 80%;
  float:right;
  border-left: 2px red solid;
  padding-left: 1em;
  color:red;
  margin: 0.5em;
}
#document div.system-messages div.system-message { 
  display: none;
  float: none;
}
#document div.system-messages h1 { 
  color: red;
  margin: 0;
  padding: 0;
}
#document div.system-messages h1:hover { 
  text-decoration: underline;
  cursor: pointer;
}
#document div.system-messages h1:after { 
  content: " +";
}
#document .system-message-title { 
  font-weight: bold;
}
#document div.system-message p { 
  margin:0
}
#document .func-signature { 
  font-style: italic;
}
#document .admonition { 
  border: 1px solid black;
}
#document .admonition-toctree.admonition { 
  border: none;
}
#document dl.code-item dt {
  font-weight: normal;
}
#document div.toctree-links { 
  padding-left: 1em; 
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

/*
 * Comments
 */
.comment { 
  padding: 0;
  margin-bottom: 1ex;
}
#comments #show-resolved { 
  float: right;
}
#comments #hide-resolved { 
  float: right;
}
table.changes#comments .resolved { 
  display: none;
  background-color: #ddd;
  color: #555;
}
.comment div.author { 
  margin: 0;
  border-bottom: dashed thin #ccc;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  padding-left: 1em;
}
.comment span.author { 
  font-weight: bold;
  padding-left: 2em;
  color: #445;
}
.comment span.timestamp { 
  color: #445;
}
.comment .text { 
  margin-left: 2em;
  margin-top:0;
  margin-bottom:0;
  padding-left: 1em;
  border-left: dashed 1px #ccc;
}
.comment .text { 
  margin-left: 2em;
  padding-top:1ex;
  padding-bottom:1ex;
  padding-left: 1em;
  border-left: dashed 1px #ccc;
}
.comment .edit-tools { 
  float:right;
}
.comment .edit-tools form { 
  display: inline;
}
.comment .slug { 
  display: none;
}
.comment.resolved .author { 
  background: #eee;
}
.comment.resolved .edit-tools { 
  display: none;
}
.comment.resolved .text { 
  display: none;
}
.comment.resolved .slug { 
  display: inline;
  padding-left: 2em;
  color: #445;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * Content list
 */
#content-list { 
  border-collapse: collapse;
  margin-top: 3ex;
}
.content-list table { 
}
.content-list tr { 
  border: solid 1px #ccc;
}
.content-list td { 
  border: solid 1px #ccc;
}
.content-list .child-marker { 
  color: #ccc;
}


/*
 * Merge info
 */
#merge-info { 
  margin-left: 2em;
}

/*
 * Patch selection
 */

#patch-select td.ok { background: #fff; }
#patch-select td.merged { background: #ffc; }
#patch-select td.conflict { background: #f00; }

/*
 * Math images 
 */
.img-offset-1  { margin-bottom: -1px; }
.img-offset-2  { margin-bottom: -2px; }
.img-offset-3  { margin-bottom: -3px; }
.img-offset-4  { margin-bottom: -4px; }
.img-offset-5  { margin-bottom: -5px; }
.img-offset-6  { margin-bottom: -6px; }
.img-offset-7  { margin-bottom: -7px; }
.img-offset-8  { margin-bottom: -8px; }
.img-offset-9  { margin-bottom: -9px; }
.img-offset-10 { margin-bottom: -10px; }
.img-offset-11 { margin-bottom: -11px; }
.img-offset-12 { margin-bottom: -12px; }
.img-offset-13 { margin-bottom: -13px; }
.img-offset-14 { margin-bottom: -14px; }
.img-offset-15 { margin-bottom: -15px; }

/*
 * Forms
 */

form ul { 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #000;
  border-right: 1px solid #ccc;
  margin-left: 2em;
}

form > ul > li { 
  padding-top:1ex;
  padding-bottom:1ex;
  margin:0;
  list-style: none;
  border-top: 1px solid #ccc;
}

form ul label { 
  display: inline-block;
  width: 10em;
  padding-right: 1em;
  text-align: right;
  font-weight: bold;
  color: #445;
  vertical-align: top;
}

form ul.errorlist {
  margin:0;
  padding:0;
  padding-right:2em;
  border: none;
  float:right;
  color:#800;
}
form ul.errorlist li { 
  list-style: none;
  border:none;
  padding:0;
  margin:0;
}
input[type=text], textarea { 
  min-width: 20em;
}

/*
 * Footnotes
 */
table.footnote { 
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
table.footnote td { 
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
table.footnote tr { 
  border: none;
}

/*
 * Preview
 */
#preview { 
  margin-left: 2em;
}

/*
 * Floating source snippet
 */
#source-float { 
  float: right;
  font-size: 70%;
  margin: 1em;
}
#source-float h2 { 
  font-size: 100%;
}

/*
 * Diff
 */
.diff-del { 
  background: #fcc;
  width:100%;
}
.diff-add { 
  background: #cfc;
  width:100%;
}
.diff-nop { 
  background: none;
}

/*
 * Help
 */
#help { 
  padding: 1em;
  margin-top: 3em;
  margin-left: 10em;
  border: solid 1px #cdc;
}

/*
 * Changes
 */
.changes td {
    white-space: nowrap;
}

/*
 * Stats
 */
#block .extra-row { display:none; }
