include MANIFEST.in
recursive-include scripts *.py *.sql *.rst
recursive-include docweb *.py *.sql *.json
recursive-include media *.css *.js
recursive-include templates *.html
recursive-include doc *.rst Makefile *.py
include modules/*.sh
include settings.py manage.py urls.py __init__.py *.sh *.txt
