{% extends "base.html" %}
{% load docstring %}

{% block title %}Search{% endblock %}
{% block pagetitle %}Search{% endblock %}

{% block content %}

<form action="{% url pydocweb.docweb.views_search.search %}" 
      method="post">
  <ul>
    {{ form.as_ul }}
    <li><label></label>
      <input type="submit" name="button_search" id="id_search" value="Search" />
      <span style='width: 2em' />
      <a href="" onclick="submit_no_examples(); return false;">No examples</a>
      <a href="" onclick="submit_no_docs(); return false;">No documentation</a>
      <a href="" onclick="submit_all_wiki_pages(); return false;">All wiki pages</a>
  </ul>
</form>

{% if docstring_results %}
<h2>Results: docstrings</h2>
<table class="content-list">
  {% for row in docstring_results|columnize:"3" %}
  <tr>
    {% for item in row %}
    <td><a href="{% url pydocweb.docweb.views_docstring.view item.0 %}">{{item.0|escape}}</a></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if wiki_results %}
<h2>Results: wiki pages</h2>
<table class="content-list">
  {% for row in wiki_results|columnize:"3" %}
  <tr>
    {% for item in row %}
    <td><a href="{% url pydocweb.docweb.views_wiki.view item.0 %}">{{item.0|escape}}</a></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}



{% block extra_headers %}
{{block.super}}
<script>
function select_type(value) {
    $("#id_type_ option").removeAttr('selected');
    $("#id_type_ option[value=" + value + "]").attr('selected', 1);
}
function get_type() {
    return $("#id_type_ option[selected]").attr('value');
}
function submit_no_examples() {
    $("#id_fulltext").attr("value", "%Examples%");
    $("#id_invert").attr("checked", 1);
    if (get_type() == 'wiki') { select_type('any'); }
    $("#id_search").click();
}
function submit_no_docs() {
    $("#id_fulltext").attr("value", "");
    $("#id_invert").removeAttr("checked");
    if (get_type() == 'wiki') { select_type('any'); }
    $("#id_search").click();
}
function submit_all_wiki_pages() {
    $("#id_fulltext").attr("value", "%");
    $("#id_invert").removeAttr("checked");
    select_type('wiki');
    $("#id_search").click();
}
</script>
{% endblock %}
