{% extends "base.html" %}
{% load docstring %}

{% block title %}{{name|escape}}{% endblock %}
{% block pagetitle %}
  {% docstring_name_link name %}
{% endblock %}

{% block actions %}
<div id="actions">
  {% block actions_items %}
  <a href="{% url pydocweb.docweb.views_docstring.view name %}">View</a>
  {% if perms.docweb.change_docstring %}
  <a href="{% url pydocweb.docweb.views_docstring.edit name %}">Edit</a>
  {% endif %}
  <a href="{% url pydocweb.docweb.views_docstring.log name %}">Log</a>
  <a href="{% url pydocweb.docweb.views_docstring.diff name,"vcs","cur" %}">Diff to VCS</a>
  <a href="{% url pydocweb.docweb.views_docstring.view name %}#discussion-sec">Discussion</a>
  {% endblock %}
</div>
{% endblock %}


{% block extra_headers %}
{{block.super}}
<script>
/* toggle showing docutils system messages */
$(document).ready(function(){
    $("div.system-messages h1").click(function () {
        $("div.system-messages div.system-message").toggle();
    });
});
</script>
{% endblock %}
