{% extends "base.html" %}
{% load docstring %}

{% block title %}{{name|escape}}{% endblock %}
{% block pagetitle %}
  {% docstring_name_link name %}
{% endblock %}

{% block actions %}
<div id="actions">
  {% block actions_items %}
  <a href="{% url docweb.views.docstring name %}">View</a>
  {% if perms.docweb.change_docstring %}
  <a href="{% url docweb.views.edit name %}">Edit</a>
  {% endif %}
  <a href="{% url docweb.views.log name %}">Log</a>
  <a href="{% url docweb.views.diff name,"svn","cur" %}">Diff to SVN</a>
  <a href="{% url docweb.views.docstring name %}#discussion-sec">Discussion</a>
  {% endblock %}
</div>
{% endblock %}
