{% extends "docstring/base.html" %}
{% load docstring %}

{% block content %}

<p>Edit comment:</p>

<form action="{% url docweb.views.edit_comment name,comment_id %}" method="post">
  <ul>
    {{ form.as_ul }}
    <li><label></label>
      <input type="submit" name="button_edit" value="Save" />
      <input type="submit" name="button_preview" value="Preview" />
      <input type="submit" name="button_cancel" value="Cancel" />
    </li>
  </ul>
</form>

{% if preview_html %}
<h2>Preview</h2>
<div id='preview'>
{{ preview_html|safe }}
</div>
{% endif %}

<div id='help'>
  <h2>Help</h2>
  {% help_page "Help Edit Comment" %}
</div>

{% endblock %}
