{% extends "docstring/base.html" %}
{% load docstring %}

{% block content %}

{% if conflict_warning %}
<div id='merge-warning'>
  <p><b>This file has conflicts with the version in SVN.
      Correct the docstring between all conflict markers
      (<tt>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</tt> and 
      <tt>&gt;&gt;&gt;&gt;&gt;&gt;&gt;</tt>).
  </b></p>
</div>
{% endif %}
{% if merge_warning %}
<div id='merge-warning'>
  <p><b>The text below is the result of an automatic merge with SVN.</b></p>
</div>
{% endif %}

<p>Edit:</p>

<form action="{% url pydocweb.docweb.views_docstring.edit name %}" method="post">
  <ul>
    {{ form.as_ul }}
    <li><label></label>
      <input type="submit" name="button_edit" value="Save" />
      <input type="submit" name="button_preview" value="Preview" />
      <input type="submit" name="button_cancel" value="Cancel" /></li>
    {% if show_delete %}
    <li><label></label>
      <input type="submit" name="button_delete" value="Delete" /></li>
    {% endif %}
  </ul>
</form>

{% if preview_html %}
<h2>Preview</h2>
<div id='preview'>
  <div id='document'>
    {{ preview_html|safe }}
  </div>
</div>

<h2>Changes</h2>
<div id='merge-info'>
  <pre>{{ diff_html|safe }}</pre>
</div>
{% endif %}

<div id='help'>
  <h2>Help</h2>
  {% help_page "Help Edit Docstring" %}
</div>

{% endblock %}

{% block below_container %}
{% if source %}
<div id='source-float'>
  <h2>Source code</h2>
  <pre>{{source}}
...</pre>
</div>
{% endif %}
{% endblock %}
