{% extends "docstring/page.html" %}
{% load docstring %}

{% block content %}
<div id="merge-warning">
  {% ifequal merge_type "conflict" %}
  <p>Merge conflict with SVN.  You need to correct this by 
    editing the docstring.</p>
  {% else %}
  <p>This docstring can be automatically merged with SVN.
  <form action="{% url docweb.views_control.merge %}" method="post">
    <input type=hidden name="{{name|escape}}" value="1" />
    <input type=submit value="Accept merge" />
  </form>
  </p>
  {% endifequal %}
</div>

<h3>Merge changes</h3>
<div id="merge-info">
  <pre>{{ merge_html|safe }}</pre>
</div>

<h3>Current docstring</h3>
<div id="document">
  {{ body_html|safe }}
</div>

<div id='help'>
  <h2>Help</h2>
  {% help_page "Help Merge Docstring" %}
</div>

{% block discussion %}
{{block.super}}
{% endblock %}

{% endblock %}
