body { 
  font-size: 10pt;
}

h1 { 
  font-size: 18pt;
}

h2 { 
  font-size: 16pt;
}

h3 { 
  font-size: 14pt;
}

h4 { 
  font-size: 12pt;
}

.content-list li { 
  display: inline-block;
  min-width: 15em;
}

#navbar li { 
  display: inline;
}

#review-status { 
  margin-top: .5ex;
  margin-bottom: .5ex;
}

#review-status li { 
  display: inline;
}

#review-status ul { 
  display: inline;
  padding-left: 0;
}

#review-status form { 
  display: inline;
}

#docstring { 
  border: dashed thin #ccc;
  padding-left: 1em;
}

#docstring h1 { 
  font-size: 14pt;
  margin-bottom: .5ex;
}

#docstring h2 { 
  font-size: 12pt;
  color: #008;
  margin-bottom: .5ex;
}

#docstring h3 { 
  font-size: 10pt;
  color: #008;
  margin-bottom: .5ex;
}

/* math images */
.img-offset-1  { margin-bottom: -1px; }
.img-offset-2  { margin-bottom: -2px; }
.img-offset-3  { margin-bottom: -3px; }
.img-offset-4  { margin-bottom: -4px; }
.img-offset-5  { margin-bottom: -5px; }
.img-offset-6  { margin-bottom: -6px; }
.img-offset-7  { margin-bottom: -7px; }
.img-offset-8  { margin-bottom: -8px; }
.img-offset-9  { margin-bottom: -9px; }
.img-offset-10 { margin-bottom: -10px; }
.img-offset-11 { margin-bottom: -11px; }
.img-offset-12 { margin-bottom: -12px; }
.img-offset-13 { margin-bottom: -13px; }
.img-offset-14 { margin-bottom: -14px; }
.img-offset-15 { margin-bottom: -15px; }

