{% extends "docstring/base.html" %}

{% block content %}

<p>Edit comment:</p>

<form action="{% url pydocweb.doc.views.edit_comment name,comment_id %}" method="post">
  <ul>
    {{ form.as_ul }}
  <li><label></label>
    <input type="submit" name="button_edit" value="Save" />
    <input type="submit" name="button_preview" value="Preview" />
    <input type="submit" name="button_cancel" value="Cancel" />
  </li>
</form>

{% if help %}
<div id='help'>{{help}}</div>
{% endif %}

{% if preview %}
<div id='preview'>
{{preview}}
</div>
{% endif %}

{% endblock %}
