{% extends "base.html" %}
{% load docstring %}

{% block title %}All docstrings{% endblock %}
{% block pagetitle %}All docstrings{% endblock %}

{% block content %}

{% regroup entries by status as status_list %}

{% for status in status_list %}

<h3>{{status.grouper.0|escape}}</h3>

{% as_table_rows 3 status.list as rows %}
<table class="content-list">
  {% for row in rows %}
  <tr>
    {% for doc in row %}
    <td class="{{doc.statuscode|escape}}"><a href="{% url pydocweb.doc.views.docstring doc.name %}">{{doc.name|escape}}</a></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endfor %}

{% endblock %}
