{% extends "docstring/page.html" %}
{% load comment %}

{% block content %}
<div id="merge-warning">
  {% ifequal merge_type "conflict" %}
  <p>Merge conflict with SVN.  You need to correct this by 
    editing the docstring.</p>
  {% else %}
  <p>This docstring has been merged automatically with SVN.
  <form action="{% url pydocweb.doc.views.merge name %}" method="post">
    <input type=hidden name="{{name|escape}}" value="1" />
    <input type=submit value="Accept" />
  </form>
  </p>
  {% endifequal %}
</div>

<div id="merge-info">
  <pre>{{merge_html}}</pre>
</div>

<div id="docstring">
  {{body_html}}
</div>
<a href="{% url pydocweb.doc.views.edit name %}">Edit</a>
<a href="{% url pydocweb.doc.views.log name %}">Log</a>

<div id='help'>
  <h2>Help</h2>
  {% help_page "Help Merge Docstring" %}
</div>

{% block discussion %}
{{block.super}}
{% endblock %}

{% endblock %}
