{% extends "docstring/base.html" %}
{% load docstring %}


{% block actions_items %}
{{block.super}}
{% if file_name %}
<a href="{% url pydocweb.doc.views.source file_name %}#{{line_number|escape}}">Source</a>
{% endif %}
{% if revision %}
<a href="{% url pydocweb.doc.views.docstring name %}">Current revision</a>
<span id="revision-header">Revision {{revision.revno|escape}}</span>
{% else %}
<span id="review-status" class="{{status_code|escape}}">
  {% if perms.doc.can_review %}
  <form action="{% url pydocweb.doc.views.review name %}" method="post">
    <ul>
      {{review_form.as_ul}}
      <li><input type="submit" value="Change" /></li>
    </ul>
  </form>
  {% else %}
    <ul>
      <li>Review status: {{status|escape}}</li>
    </ul>
  {% endif %}
</span>
{% endif %}
{% endblock %}


{% block content %}
<div id="document">
  {{body_html}}
</div>

{% block discussion %}
<div id="comments">
  <h1><a id="discussion-sec"/>Discussion</h1>
  {% for comment in comments %}
  <div class="comment">
    <div class="author">
      <span class="timestamp">{{comment.timestamp|escape}}</span>
      <span class="author">{{comment.author|escape}}</span>
    </div>
    {% if perms.doc.change_reviewcomment %}
    {% ifequal comment.author_username user.username %}
    <div class="edit-tools">
      <form action="{% url pydocweb.doc.views.comment_edit name,comment.id %}" method="GET">
	<input type=submit value="Edit"/>
      </form>
      
      <form action="{% url pydocweb.doc.views.comment_edit name,comment.id %}" method="POST">
	<input type=submit name="button_delete" value="Delete" />
      </form>
    </div>
    {% endifequal %}
    {% endif %}
    <div class="text">{{comment.html}}</div>
  </div>
  {% endfor %}
  {% if perms.doc.change_reviewcomment %}
  <form action="{% url pydocweb.doc.views.comment_edit name,"new" %}" method="GET">
    <input type=submit value="New comment"/>
  </form>
  {% endif %}
</div>
{% endblock %}


{% block docstring_contents %}

{% ifequal doc.type_ "module" %}
<div id="content-list">
  <h1>Modules</h1>
  {% as_table_rows 5 doc.child_modules as rows %}
  <table class="content-list">
    {% for row in rows %}
    <tr>
      {% for alias in row %}
      <td class="{% docstring_status_code alias.target %}"><a href="{% url pydocweb.doc.views.docstring alias.target %}">{{alias.alias|escape}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h1>Classes</h1>
  {% as_table_rows 5 doc.child_classes as rows %}
  <table class="content-list">
    {% for row in rows %}
    <tr>
      {% for alias in row %}
      <td class="{% docstring_status_code alias.target %}"><a href="{% url pydocweb.doc.views.docstring alias.target %}">{{alias.alias|escape}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h1>Functions</h1>
  {% as_table_rows 5 doc.child_callables as rows %}
  <table class="content-list">
    {% for row in rows %}
    <tr>
      {% for alias in row %}
      <td class="{% docstring_status_code alias.target %}"><a href="{% url pydocweb.doc.views.docstring alias.target %}">{{alias.alias|escape}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h1>Objects</h1>
  {% as_table_rows 5 doc.child_objects as rows %}
  <table class="content-list">
    {% for row in rows %}
    <tr>
      {% for alias in row %}
      <td class="{% docstring_status_code alias.target %}"><a href="{% url pydocweb.doc.views.docstring alias.target %}">{{alias.alias|escape}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endifequal %}

{% ifequal doc.type_ "class" %}
<div id="contents">
  <h1>Methods</h1>
  {% as_table_rows 5 doc.child_callables as rows %}
  <table class="content-list">
    {% for row in rows %}
    <tr>
      {% for alias in row %}
      <td class="{% docstring_status_code alias.target %}"><a href="{% url pydocweb.doc.views.docstring alias.target %}">{{alias.alias|escape}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <h1>Properties</h1>
  {% as_table_rows 5 doc.child_objects as rows %}
  <table class="content-list">
    {% for row in rows %}
    <tr>
      {% for alias in row %}
      <td class="{% docstring_status_code alias.target %}"><a href="{% url pydocweb.doc.views.docstring alias.target %}">{{alias.alias|escape}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endifequal %}

{% endblock %}

{% endblock %}
