{% extends "base.html" %}

{% block title %}
{{name}}
{% endblock %}

{% block content %}
<h1>{{name}}</h1>

{% if revision %}
<div id="revision-header">
  Revision {{revision}}.
  <a href="{% url pydocweb.doc.views.docstring name %}">Back to current revision.</a>
  <a href="{% url pydocweb.doc.views.log name %}">Back to log.</a>
</div>
{% else %}
<div id="review-status">
  <form action="{% url pydocweb.doc.views.review name %}" method="post">
    <ul>
      {{review_form.as_ul}}
      <li><input type="submit" value="Change" /></li>
    </ul>
  </form>
</div>

{% if needs_merge %}
<div id="merge-warning">
  The versions of this documentation in SVN and here are out of sync.
  You will need to merge the changes before editing.
</div>
{% endif %}
{% endif %}

<div id="docstring">
  {{body}}
</div>

{% if not revision %}
<a href="{% url pydocweb.doc.views.edit name %}">Edit</a>
<a href="{% url pydocweb.doc.views.log name %}">Log</a>

<div id="comments">
  <h1>Discussion</h1>
  {% for comment in comments %}
  <div class="comment">
    <div class="author">{{comment.author}}</div>
    <div class="text">{{comment.text}}</div>
    <div class="editlabel"><a href="{% url pydocweb.doc.views.comment_edit name,comment.id %}">Edit</a></div>
  </div>
  {% endfor %}
  <div class="editlabel"><a href="{% url pydocweb.doc.views.comment_new name %}">New comment</a></div>
</div>
{% endif %}

{% endblock %}
