{% extends "base.html" %}

{% block title %}{{name|escape}}{% endblock %}
{% block pagetitle %}{{name|escape}}{% endblock %}

{% block actions %}
<div id="actions">
  <a href="{% url pydocweb.docweb.views_wiki.view name %}">View</a>
  {% if perms.docweb.change_wikipage %}
  <a href="{% url pydocweb.docweb.views_wiki.edit name %}">Edit</a>
  {% endif %}
  <a href="{% url pydocweb.docweb.views_wiki.log name %}">Log</a>
</div>
{% endblock %}

{% block extra_headers %}
{{block.super}}
<script>
/* toggle showing docutils system messages */
$(document).ready(function(){
    $("div.system-messages h1").click(function () {
        $("div.system-messages div.system-message").toggle();
    });
});
</script>
{% endblock %}
