{% extends "wiki/base.html" %}
{% load docstring %}

{% block content %}
<p>Edit:</p>

<form action="{% url docweb.views_wiki.edit name=name %}" method="post">
  <ul>
  {{ form.as_ul }}
  <li><label></label>
    <input type="submit" value="Save" />
    <input type="submit" name="button_preview" value="Preview" />
    <input type="submit" name="button_cancel" value="Cancel" /></li>
  </ul>
</form>

{% if revision %}{% else %}
<form action="{% url docweb.views_wiki.edit name=name %}" method="post">
  <ul>
  <li><label></label>
    <input type="hidden" name="text" value="" />
    <input type="hidden" name="comment" value="Deleted" />
    <input type="submit" value="Delete" />
  </li>
  </ul>
</form>
{% endif %}

{% if preview_html %}
<h2>Preview</h2>
<div id='preview'>
<div id='document'>
{{preview_html|safe}}
</div>
</div>
<h2>Changes</h2>
<div id='merge-info'>
  <pre>{{diff_html|safe}}</pre>
</div>
{% endif %}

<div id='help'>
  <h2>Help</h2>
  {% help_page "Help Edit Wiki" %}
</div>

{% endblock %}
