{% extends "wiki/base.html" %}

{% block content %}
{{body_html|safe}}

<form action="{% url pydocweb.docweb.views.log_wiki name %}" method="POST">
<table>
  <tr>
    <th>Time</th>
    <th>Author</th>
    <th>
      <input type=submit name="button_diff" value="Differences" />
    </th>
    <th></th>
    <th>Comment</th>
  </tr>
  {% for rev in revisions %}
  <tr>
    <td>
      <a href="{% url pydocweb.docweb.views.wiki name %}?revision={{rev.id|escape}}">{{rev.timestamp|date:"Y-m-d H:i:s"}}</a>
    </td>
    <td>{{rev.author|escape}}</td>
    <td>
      <input type="radio" name="rev1" value="{{rev.id|escape}}"
          {% ifequal forloop.counter0 1 %}checked{% endifequal %} />
      <input type="radio" name="rev2" value="{{rev.id|escape}}" 
          {% if forloop.first %}checked{% endif %} />
    </td>
    <td>
      {% if perms.doc.change_wikipage %}
      <a href="{% url pydocweb.docweb.views.edit_wiki name %}?revision={{rev.id|escape}}">Revert</a>
      {% endif %}
    </td>
    <td>{{rev.comment|escape}}</td>
  </tr>
  {% endfor %}
</table>
</form>

{% endblock %}
