{% extends "base.html" %}
{% load docstring %}

{% block title %}Merge{% endblock %}
{% block pagetitle %}Merge{% endblock %}

{% block content %}

{% if errors %}
<h2>Errors:</h2>
<ul>
  {% for err in errors %}
  <li><pre>{{err|escape}}</pre></li>
  {% endfor %}
</ul>
{% endif %}

<h2>Conflicts</h2>
{% if conflicts %}
<ul>
  {% for entry in conflicts %}
  <li><a href="{% url docweb.views_docstring.view entry.name %}">{{entry.name|escape}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No conflicts</p>
{% endif %}

<h2>Merges</h2>
{% if merged %}
<form action="{% url docweb.views_control.merge %}" method="post">
<input type="submit" value="Accept merges" />
<a href="" onclick="check_all(); return false;">Select all</a>
<a href="" onclick="check_none(); return false;">Unselect all</a>
<ul>
  {% for entry in merged %}
  <li>
    <input type="checkbox" name="{{entry.name|escape}}" checked /> <a href="{% url docweb.views_docstring.view entry.name %}">{{entry.name|escape}}</a></li>
  {% endfor %}
</ul>
</form>
{% else %}
<p>Nothing to merge</p>
{% endif %}

<div id='help'>
  <h2>Help</h2>
  {% help_page "Help Merge" %}
</div>

{% endblock %}


{% block extra_headers %}
{{block.super}}
<script>
function check_none() {
    $("input:checkbox").removeAttr('checked');
}
function check_all() {
    $("input:checkbox").attr('checked', 1);
}
</script>
{% endblock %}
