{% extends "base.html" %}

{% block title %}Generate patch{% endblock %}
{% block pagetitle %}Generate patch{% endblock %}

{% block content %}
{% if changed %}
<form action="{% url pydocweb.docweb.views_control.patch %}" method="post">
<input type="submit" value="Generate patch" />
<a href="" onclick="check_all_proofed(); return false;">Select proofed</a>
<a href="" onclick="check_all_reviewed(); return false;">Select reviewed</a>
<a href="" onclick="check_all(); return false;">Select all</a>
<a href="" onclick="check_none(); return false;">Unselect all</a>
<table id="patch-select">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Review</th>
    <th>Merge</th>
  </tr>
  {% for entry in changed %}
  <tr>
    <td>
      <input class="{{entry.status_code|escape}} {{entry.merge_status_code|escape}}" 
             type="checkbox" name="{{entry.name|escape}}"
      {% if entry.included %}
	     checked/>
      {% else %}
             />
      {% endif %}
    </td>
    <td>
      <a href="{% url pydocweb.docweb.views_docstring.diff entry.name,"svn","cur" %}">{{entry.name|escape}}</a>
    </td>
    <td class="{{entry.status_code|escape}}">{{entry.status|escape}}</td>
    <td class="{{entry.merge_status_code|escape}}">{{entry.merge_status|escape}}</td>
  </tr>
  {% endfor %}
</table>
</form>
{% else %}
<p>No changes to SVN</p>
{% endif %}
{% endblock %}



{% block extra_headers %}
{{block.super}}
<script>
function check_none() {
    $("#patch-select input:checkbox").removeAttr('checked');
}
function check_all_proofed() {
    check_none();
    $("#patch-select input.ok.proofed:checkbox").attr('checked', 1);
}
function check_all_reviewed() {
    check_none();
    $("#patch-select input.ok.reviewed:checkbox").attr('checked', 1);
    $("#patch-select input.ok.proofed:checkbox").attr('checked', 1);
}
function check_all() {
    check_none();
    $("#patch-select input.ok:checkbox").attr('checked', 1);
}
</script>
{% endblock %}
