{% extends "html.html" %}

{% block body %}

<div id="navbar">
  <ul>
    <li><a href="/">Wiki</a></li>
    <li><a href="/doc">Docstrings</a></li>
    <li><a href="/merge">Merge</a></li>	
    <li><a href="/patch">Patch</a></li>	
    <li><a href="/control">Control</a></li>	
  </ul>
</div>
<div id="subnavbar">{% block subnavbar %}{% endblock %}</div>
<div id="title"><h1>{% block title %}{% endblock %}</h1></div>
<div id="actions">{% block actions %}{% endblock %}</div>
<div id="content">
  {% block content %}{% endblock %}
</div>

{% endblock %}
