<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/screen.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/print.css" type="text/css" media="print"/>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
    {% block extra_headers %}{% endblock %}
  </head>
  <body>
    <div id="header"><h1><a href="{% url pydocweb.doc.views.frontpage %}">Scipy Documentation Editor</a></h1></div>
    <div id="navbar">
      <ul>
	<li class="button"><a href="{% url pydocweb.doc.views.frontpage %}">Wiki</a></li>
	<li class="button"><a href="{% url pydocweb.doc.views.docstring_index %}">Docstrings</a></li>
	<li class="button"><a href="{% url pydocweb.doc.views.changes %}">Changes</a></li>
	<li class="button"><a href="{% url pydocweb.doc.views.search %}">Search</a></li>
	<li class="button"><a href="{% url pydocweb.doc.views.stats %}">Stats</a></li>
{% if perms.doc.change_docstring %}
	<li class="button"><a href="{% url pydocweb.doc.views.merge %}">Merge</a></li>	
{% endif %}
	<li class="button"><a href="{% url pydocweb.doc.views.patch %}">Patch</a></li>	
{% if user.is_superuser %}
	<li class="button"><a href="{% url pydocweb.doc.views.control %}">Control</a></li>	
{% endif %}
	<li>&mdash;</li>
{% if user.is_authenticated %}
	<li><b>{{user.first_name|escape}} {{user.last_name|escape}}</b>:</li>
	<li class="button"><a href="{% url pydocweb.doc.views.password_change %}">Profile</a></li>
	<li class="button"><a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>	
{% else %}
	<li class="button"><a href="{% url pydocweb.doc.views.login %}">Log in</a></li>	
{% endif %}
      </ul>
    </div>
    <div id="container">
      <div id="title"><h1>{% block pagetitle %}{% endblock %}</h1></div>
      {% block actions %}{% endblock %}
      <div id="content">{% block content %}{% endblock %}</div>
    </container>
  </body>
</html>
