{% extends "base.html" %}

{% block title %}Recent changes{% endblock %}
{% block pagetitle %}Recent changes{% endblock %}

{% block content %}

<h2>Comments (all)</h2>
<a href="" id="show-resolved" onclick="toggle_resolved(); return false;">Show resolved</a>
<table id="comments" class="changes">
  {% for c in comment_changes %}
  <tr class="{% if c.resolved %}resolved{% endif %}">
    <td>{{c.timestamp|escape}}</td>
    <td><a href="{% url pydocweb.doc.views.docstring c.name %}#discussion-sec">{{c.name|escape}}</a></td>
    <td>{{c.author|escape}}</td>
    <td>{{c.comment|escape}}</td>
  </tr>
  {% endfor %}
</table>

<h2>Docstrings (100 most recent)</h2>
<table class="changes">
  {% for c in docstring_changes %}
  <tr>
    <td>{{c.timestamp|escape}}</td>
    <td><a href="{% url pydocweb.doc.views.diff_prev c.name,c.revno %}">{{c.name|escape}}</a></td>
    <td>{{c.author|escape}}</td>
    <td>{{c.comment|escape}}</td>
  </tr>
  {% endfor %}
</table>

<h2>Wiki (100 most recent)</h2>
<table class="changes">
  {% for c in wiki_changes %}
  <tr>
    <td>{{c.timestamp|escape}}</td>
    <td><a href="{% url pydocweb.doc.views.diff_wiki_prev c.name,c.revno %}">{{c.name|escape}}</a></td>
    <td>{{c.author|escape}}</td>
    <td>{{c.comment|escape}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}





{% block extra_headers %}
{{block.super}}
<script>
function toggle_resolved() {
    var el = $("#show-resolved");
    if (el.length > 0) {
        $("#show-resolved").attr('id', 'hide-resolved').text('Hide resolved');
    } else {
        $("#hide-resolved").attr('id', 'show-resolved').text('Show resolved');
    }
    $(".resolved").toggle();
}
</script>
{% endblock %}
