{% extends "base.html" %}

{% block title %}Control panel{% endblock %}
{% block pagetitle %}Control panel{% endblock %}

{% block content %}
<h2>Administrate</h2>
<a href="{% url django.contrib.admin.views.main.index %}">Enter the admin site</a>

<h2>Update docstrings</h2>
<p><b>Warning:</b> pulling docstrings from SVN can take several minutes.</p>
<p><b>Note:</b> pulling docstrings does not result into new docstring
  revisions. You must go to the
  <a href="{% url pydocweb.doc.views.merge %}">merge page</a>
  and check the merges listed there manually after pulling.</p>
<p><b>Note 2:</b> Pulling docstrings from SVN is idempotent. 
  You don't need to resolve merges before pulling again.</p>
<form action="{% url pydocweb.doc.views.control %}" method="post">
<input type="submit" name="update-docstrings" value="Pull from SVN" />
</form>

<h2>User summary</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Real name</th>
    <th>Email</th>
    <th>Groups</th>
    <th>Registration date</th>
  </tr>
  {% for usr in users %}
  <tr>
    <td>
      {{usr.username|escape}}
      {% if not usr.is_active %}
        (inactive)
      {% endif %}
      {% if usr.is_superuser %}
        (superuser)
      {% endif %}
      {% if usr.is_staff %}
        (staff)
      {% endif %}
    </td>
    <td>{{usr.get_full_name|escape}}</td>
    <td>{{usr.email|escape}}</td>
    <td>
      {% for group in usr.groups.all %}
        {{group.name|escape}}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </td>
    <td>{{usr.date_joined|escape}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
