{% extends "base.html" %}

{% block title %}Control panel{% endblock %}
{% block pagetitle %}Control panel{% endblock %}

{% block content %}
<h2>Administrate</h2>
<a href="{% url django.contrib.admin.views.main.index %}">Enter the admin site</a>

<h2>Update docstrings</h2>

<p>
<b>Warning:</b> updating docstrings can take several minutes.
</p>

<form action="{% url pydocweb.doc.views.control %}" method="post">
<input type="submit" name="update-docstrings" value="Update docstrings" />
</form>

{% endblock %}
