{% extends "base.html" %}

{% block title %}Merge{% endblock %}
{% block pagetitle %}Merge{% endblock %}

{% block content %}
<h2>Conflicts</h2>
{% if conflicts %}
<ul>
  {% for entry in conflicts %}
  <li><a href="{% url pydocweb.doc.views.docstring entry.name %}">{{entry.name}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No conflicts</p>
{% endif %}

<h2>Merged</h2>
{% if merged %}
<form action="{% url pydocweb.doc.views.merge %}" method="post">
<input type="submit" value="Accept merges" />
<a href="" onclick="check_all(); return false;">Select all</a>
<a href="" onclick="check_none(); return false;">Unselect all</a>
<ul>
  {% for entry in merged %}
  <li>
    <input type="checkbox" name="{{entry.name}}" checked /> <a href="{% url pydocweb.doc.views.docstring entry.name %}">{{entry.name}}</a></li>
  {% endfor %}
</ul>
</form>
{% else %}
<p>Nothing merged</p>
{% endif %}
{% endblock %}


{% block extra_headers %}
{{block.super}}
<script>
function check_none() {
    $("input:checkbox").removeAttr('checked');
}
function check_all() {
    $("input:checkbox").attr('checked', 1);
}
</script>
{% endblock %}
