{% extends "base.html" %}

{% block title %}Generate patch{% endblock %}
{% block pagetitle %}Generate patch{% endblock %}

{% block content %}
<form action="{% url pydocweb.doc.views.patch %}" method="post">
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Review</th>
    <th>Merge</th>
  </tr>
  {% for entry in changed %}
  <tr>
    <td>
      <input type="checkbox" name="{{entry.name}}" 
      {% if entry.merged %}
	     checked/>
      {% else %}
             />
      {% endif %}
    </td>
    <td>
      <a href="{% url pydocweb.doc.views.docstring entry.name %}">{{entry.name}}</a>
    </td>
    <td>{{entry.status}}</td>
    <td>{{entry.merge_status}}</td>
  </tr>
  {% endfor %}
</table>
<input type="submit" value="Generate patch" />
</form>
{% endblock %}
