{% extends "base.html" %}

{% block title %}
Edit {{name}}
{% endblock %}

{% block content %}
<h1>{{name}}</h1>

<p>Edit:</p>

<form action="{% url pydocweb.doc.views.edit_wiki name=name %}" method="post">
  {{ form.as_p }}
  <input type="submit" value="Edit" />
  <input type="submit" name="button_preview" value="Preview" />
  <input type="submit" name="button_cancel" value="Cancel" />
</form>

{% if not revision %}
<form action="{% url pydocweb.doc.views.edit_wiki name=name %}" method="post">
  <input type="hidden" name="text" value="" />
  <input type="hidden" name="comment" value="Deleted" />
  <input type="submit" value="Delete" />
</form>
{% endif %}

{% if preview %}
<div id='preview'>
{{preview}}
</div>
{% endif %}

{% endblock %}
